@{
    ViewData["Title"] = "Privacy Policy";
}
@model Home

<h1>@ViewData["Title"]</h1>

<p>Use this page to detail your site's privacy policy.</p>

<h1>Данные из сессии</h1>
<p>Значение: @Model.SessionData</p> 